
@import "colors";

// bootstrap config
$icon-font-path: '../fonts/';
$grid-gutter-width: 20px;

$gray-base: $dark-green;
$brand-primary: $mid-green;

$text-color: $dark-green;
$link-color: $text-color;
$input-color: $text-color;

$input-border-focus: $brand-primary;

@import "bootstrap";

@import "/node_modules/openlayers/css/ol.css";

.ol-scale-line-nautical.ol-unselectable {
  margin-bottom: 25px;
}

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  background: $light-green;
}
html, body, #map, .sidebar-map {
    height: 100%;
    width: 100%;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 12pt;
    line-height: 12pt;
    font-weight: normal;
}

.sidebar-header{
  margin-bottom: 10px;
  padding-left: 30px;
}
.sidebar-pane{
  padding-left: 5px;
  padding-right: 10px;
}

label {
  font-weight: normal;
}

.ol-control button {
  color: white;
  background-color: rgba($mid-green, 0.6);
}

.ol-control button:hover,
.ol-control button:focus {
  background-color: rgba($mid-green, 0.8);
}
.ol-control {
    background-color: rgba($dark-green, 0.5);
}
.ol-control:hover {
    background-color: rgba($dark-green, 0.7);
}
