<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>{% block title %}OpenPlaygroundMap{% endblock %}</title>

  <link rel="stylesheet" href="stylesheets/global.css">
  {% include "shared/app-icons.html" %}
  {% block head %}{% endblock %}
</head>
<body>
  {% block content %}{% endblock %}
  {% block javascript %}{% endblock %}
</body>
</html>
