<!-- http://realfavicongenerator.net/ is the best! -->
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="/manifest.json">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#cae979">
<meta name="apple-mobile-web-app-title" content="OpenPlaygroundMap">
<meta name="application-name" content="OpenPlaygroundMap">
<meta name="theme-color" content="#cae979">
